/* ---------------------------------------- Подключение шрифтов ---------------------------------------- */
/* ---------------------------------------- Connecting fonts ---------------------------------------- */
@font-face {
  font-family: "Brown-bold-normal";
  src: url("../fonts/BrownBold.eot");
  src: url("../fonts/BrownBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownBold.woff2") format("woff2"), url("../fonts/BrownBold.woff") format("woff"), url("../fonts/BrownBold.ttf") format("truetype"), url("../fonts/BrownBold.svg#BrownBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BrownLight-300-italic";
  src: url("../fonts/BrownLightItalic.eot");
  src: url("../fonts/BrownLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownLightItalic.woff2") format("woff2"), url("../fonts/BrownLightItalic.woff") format("woff"), url("../fonts/BrownLightItalic.ttf") format("truetype"), url("../fonts/BrownLightItalic.svg#BrownLightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BrownHeavy-900-normal";
  src: url("../fonts/BrownHeavy.eot");
  src: url("../fonts/BrownHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownHeavy.woff2") format("woff2"), url("../fonts/BrownHeavy.woff") format("woff"), url("../fonts/BrownHeavy.ttf") format("truetype"), url("../fonts/BrownHeavy.svg#BrownHeavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brown-normal-italic";
  src: url("../fonts/BrownItalic.eot");
  src: url("../fonts/BrownItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownItalic.woff2") format("woff2"), url("../fonts/BrownItalic.woff") format("woff"), url("../fonts/BrownItalic.ttf") format("truetype"), url("../fonts/BrownItalic.svg#BrownItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brown-bold-italic";
  src: url("../fonts/BrownBoldItalic.eot");
  src: url("../fonts/BrownBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownBoldItalic.woff2") format("woff2"), url("../fonts/BrownBoldItalic.woff") format("woff"), url("../fonts/BrownBoldItalic.ttf") format("truetype"), url("../fonts/BrownBoldItalic.svg#BrownBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BrownMedium-500-italic";
  src: url("../fonts/BrownMediumItalic.eot");
  src: url("../fonts/BrownMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownMediumItalic.woff2") format("woff2"), url("../fonts/BrownMediumItalic.woff") format("woff"), url("../fonts/BrownMediumItalic.ttf") format("truetype"), url("../fonts/BrownMediumItalic.svg#BrownMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BrownMedium-500-normal";
  src: url("../fonts/BrownMedium.eot");
  src: url("../fonts/BrownMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownMedium.woff2") format("woff2"), url("../fonts/BrownMedium.woff") format("woff"), url("../fonts/BrownMedium.ttf") format("truetype"), url("../fonts/BrownMedium.svg#BrownMedium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BrownExtraBoldCondensed-800-normal";
  src: url("../fonts/BrownExtraBoldCondensed.eot");
  src: url("../fonts/BrownExtraBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownExtraBoldCondensed.woff2") format("woff2"), url("../fonts/BrownExtraBoldCondensed.woff") format("woff"), url("../fonts/BrownExtraBoldCondensed.ttf") format("truetype"), url("../fonts/BrownExtraBoldCondensed.svg#BrownExtraBoldCondensed") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BrownExtraBold-800-normal";
  src: url("../fonts/BrownExtraBold.eot");
  src: url("../fonts/BrownExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownExtraBold.woff2") format("woff2"), url("../fonts/BrownExtraBold.woff") format("woff"), url("../fonts/BrownExtraBold.ttf") format("truetype"), url("../fonts/BrownExtraBold.svg#BrownExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BrownLight-300-normal";
  src: url("../fonts/BrownLight.eot");
  src: url("../fonts/BrownLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BrownLight.woff2") format("woff2"), url("../fonts/BrownLight.woff") format("woff"), url("../fonts/BrownLight.ttf") format("truetype"), url("../fonts/BrownLight.svg#BrownLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* ---------------------------------------- Цвета ---------------------------------------- */
/* ---------------------------------------- Colors ---------------------------------------- */
/* ---------------------------------------- Базовые настройки  ---------------------------------------- */
/* ---------------------------------------- Basic settings ---------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
.the-foundation {
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 123.5rem;
  z-index: 0;
}
.button {
  background-color: #845cff;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  padding: 1rem 1.8rem;
  font-size: 1.9rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.button:hover {
  border: none;
  outline: none;
  background-color: #521aff;
}
/* ---------------------------------------- Background ---------------------------------------- */
/* ---------------------------------------- Фон ---------------------------------------- */
.container-block-1-img-absolute {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -5;
}
.container-block-2-img-absolute {
  position: absolute;
  left: 8%;
  top: 0;
  z-index: -6;
}
.container-block-3-img-absolute {
  position: absolute;
  left: 0;
  top: 73%;
  z-index: -6;
}
/*
.container-block-4-img-absolute {
  position: absolute;
  top: 255%;
  width: 100%;
  height: max-content;
  z-index: -6;
}
*/
.container-block-5-img-absolute {
  position: absolute;
  right: 0;
  top: 520%;
  z-index: -5;
}
.container-block-6-img-absolute {
  position: absolute;
  right: 0;
  top: 485%;
  z-index: -6;
}
/*
.container-block-7-img-absolute {
  position: absolute;
  width: 100%;
  height: max-content;
  z-index: -6;
  top: 633%;
}
*/
/*
.container-block-8-img-absolute {
  position: absolute;
  width: 100%;
  height: max-content;
  z-index: -6;
  top: 674%;
}*/
/* ---------------------------------------- Header ---------------------------------------- */
/* ---------------------------------------- Шапка ---------------------------------------- */
.container-block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  height: 4.8rem;
  width: 100%;
}
.header-img-logo {
  display: inline-block;
  height: 100%;
  width: 53%;
}
.header-navigation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-button-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.8rem;
  line-height: 4.8rem;
  margin-left: 2.8rem;
  margin-right: 2.8rem;
  text-decoration: none;
  font-size: 1.9rem;
  font-family: "Brown-bold-normal", sans-serif;
  color: #32325d;
}
.header-navigation-wrap {
  display: table;
  height: 4.8rem;
}
.header-navigation-wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.header-button {
  font-family: "Brown-bold-normal", sans-serif;
}
/* ---------------------------------------- Info ---------------------------------------- */
/* ---------------------------------------- Инфо ---------------------------------------- */
.container-block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info {
  padding-top: 28rem;
  width: 47rem;
}
.info-content {
  width: auto;
  height: auto;
}
.info-content h1 {
  padding-bottom: 3.5rem;
  font-size: 4.8rem;
  font-family: "Brown-bold-normal", sans-serif;
  color: #32325d;
}
.info-content p {
  padding-bottom: 4rem;
  font-size: 2.5rem;
  line-height: 1.25;
  font-family: "BrownLight-300-normal", sans-serif;
}
.info-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-content-block-navigation-wrap {
  display: table;
  height: 4.8rem;
}
.info-content-block-navigation-wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.info-content-block p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.8rem;
  line-height: 4.8rem;
  font-size: 1.9rem;
  padding-left: 3.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "BrownLight-300-normal", sans-serif;
  color: #32325d;
}
.info-button {
  font-family: "BrownMedium-500-normal", sans-serif;
  text-transform: uppercase;
}
/* ---------------------------------------- stability-application ---------------------------------------- */
/* ---------------------------------------- применение-стабильности ---------------------------------------- */
.container-block-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stability-application {
  margin-top: 13rem;
  padding-top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.stability-application-info {
  display: inline-block;
  width: 55rem;
  margin-right: 6rem;
}
.stability-application-info h2 {
  font-size: 4.8rem;
  color: #32325d;
  padding-top: 22rem;
  line-height: 1.25;
  font-family: "BrownMedium-500-normal", sans-serif;
}
.stability-application-info p {
  padding-top: 3.5rem;
  font-size: 2.3rem;
  line-height: 1.5;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
}
.stability-application-content {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 6rem;
  padding: 6rem;
  margin-right: 9rem;
  background-color: #ffffff;
  width: 52rem;
  height: 55rem;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.6);
          box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.6);
  border-radius: 0.7rem;
}
.stability-application-content-img img {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}
.stability-application-content h3 {
  font-size: 3rem;
  font-family: "BrownLight-300-normal", sans-serif;
  color: #32325d;
}
.stability-application-content p {
  font-size: 1.8rem;
  padding-top: 2rem;
  line-height: 1.25;
  font-family: "BrownLight-300-normal", sans-serif;
  color: #32325d;
}
/* ---------------------------------------- info-icon ---------------------------------------- */
/* ---------------------------------------- значок информации ---------------------------------------- */
.container-block-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/BG-slider.png) no-repeat bottom;
  padding-bottom: 25rem;
  background-size: max-content;
}
.info-icon {
  width: 100%;
}
.info-icon-header {
  width: 100%;
  text-align: center;
  padding-top: 20rem;
}
.info-icon-header h3 {
  font-size: 4.8rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
}
.info-icon-header p {
  padding-top: 3.8rem;
  font-size: 2.3rem;
  line-height: 1.25;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
}
.info-icon-slider {
  margin-top: 10rem;
  margin-left: 5%;
  width: 90%;
}
.block-info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  height: 25rem;
  width: 25rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  outline: none;
}
.block-info:focus {
  outline: none;
}
.block-info:hover {
  outline: none;
}
.block-info-img {
  width: 8rem;
  height: 8rem;
  margin-left: auto;
  margin-right: auto;
}
.block-info h4 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #32325d;
  font-family: "BrownMedium-500-normal", sans-serif;
}
.block-info p {
  font-size: 1.6rem;
  line-height: 1.25;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
}
/* ---------------------------------------- top-priority-1 ---------------------------------------- */
/* ---------------------------------------- высший приоритет 1 ---------------------------------------- */
.container-block-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-priority-1 {
  padding-top: 15rem;
}
.top-priority-box {
  display: inline-block;
  height: 47rem;
  width: 57rem;
}
.top-priority-box h3 {
  font-size: 4.8rem;
  padding-bottom: 3rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
}
.top-priority-box p {
  font-size: 2.3rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
}
.top-priority-box-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-priority-box-drive {
  height: 100%;
  width: 18rem;
}
.top-priority-box-drive h4 {
  font-size: 3rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
}
.top-priority-box-drive p {
  padding-top: 2rem;
  font-size: 1.6rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
  padding-bottom: 4rem;
}
.top-priority-box-ride {
  height: 100%;
  width: 18rem;
}
.top-priority-box-ride h4 {
  font-size: 3rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
}
.top-priority-box-ride p {
  padding-top: 2rem;
  font-size: 1.6rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
  padding-bottom: 4rem;
}
.img-intro-1 {
  display: inline-block;
  width: auto;
  height: auto;
}
/* ---------------------------------------- top-priority-2 ---------------------------------------- */
/* ---------------------------------------- высший приоритет 2 ---------------------------------------- */
.container-block-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-priority-2 {
  padding-top: 18rem;
}
.img-intro-2 {
  display: inline-block;
  width: auto;
  height: auto;
  padding-right: 4rem;
}
/* ---------------------------------------- auto-pilot ---------------------------------------- */
/* ---------------------------------------- авто пилот ---------------------------------------- */
.container-block-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.auto-pilot {
  margin-top: 30rem;
}
.auto-pilot h2 {
  font-size: 4.8rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
}
.auto-pilot p {
  margin-top: 2rem;
  font-size: 2.3rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
  width: 55rem;
  line-height: 1.25;
}
/* ---------------------------------------- auto-pilot ---------------------------------------- */
/* ---------------------------------------- авто пилот ---------------------------------------- */
.container-block-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.li-info {
  padding-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15rem;
  outline: none;
}
.li-info h4 {
  font-size: 3rem;
  color: #32325d;
  line-height: 2;
  font-family: "BrownMedium-500-normal", sans-serif;
}
.li-block-1 {
  padding-bottom: 5rem;
  width: 100%;
}
.li-block-2 {
  padding-bottom: 5rem;
  width: 50%;
}
.li-block-3 {
  padding-bottom: 5rem;
  width: 50%;
}
.li-block-ul li {
  font-size: 1.8rem;
  color: #32325d;
  line-height: 2;
  font-family: "BrownLight-300-normal", sans-serif;
}
.li-block-ul li::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background: url(../img/check.png) no-repeat center;
  vertical-align: middle;
}
/* ---------------------------------------- contact ---------------------------------------- */
/* ---------------------------------------- контакт ---------------------------------------- */
.container-block-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/BG-form.png);
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 17rem;
  padding-bottom: 13rem;
  height: auto;
}
.contact-info {
  margin-top: -4rem;
  width: 50%;
  height: auto;
}
.contact-info h2 {
  font-size: 4.8rem;
  padding-top: 2rem;
  font-family: "Brown-bold-normal", sans-serif;
  color: #32325d;
}
.contact-info p {
  padding-top: 3rem;
  font-size: 2.3rem;
  font-family: "Brown-bold-normal", sans-serif;
  color: #32325d;
}
.contact-input {
  background-color: white;
  width: 50%;
  text-align: center;
  height: 100%;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
          box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
}
.contact-input-wrap-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
}
.contact-input-wrap-block input {
  height: 100%;
  width: 42rem;
  font-size: 2.3rem;
  color: #32325d;
  padding-left: 3rem;
  font-family: "BrownLight-300-normal", sans-serif;
  border: none;
  outline: none;
}
.contact-input-wrap-block input:hover {
  border: none;
  outline: none;
}
.contact-input-wrap-block input:focus {
  border: none;
  outline: none;
}
.contact-input-wrap-block-button {
  display: table;
  margin-left: 2rem;
  width: auto;
  height: 100%;
}
.contact-input-wrap-block-button-senter {
  display: table-cell;
  vertical-align: middle;
}
.button-contact {
  height: auto;
  width: auto;
  font-size: 2.3rem;
  font-family: "Brown-bold-normal", sans-serif;
  color: #32325d;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.button-contact:hover {
  font-size: 2.5rem;
  color: #0e0e1b;
  border: none;
  outline: none;
  background: transparent;
}
/* ---------------------------------------- main ---------------------------------------- */
/* ---------------------------------------- основа ---------------------------------------- */
.container-block-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/BG-main.png);
}
.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  padding-top: 20rem;
  padding-bottom: 20rem;
}
.main-logo-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 41rem;
  height: auto;
}
.main-logo-contact-img {
  padding-bottom: 6rem;
}
.main-logo-contact-phone {
  font-size: 1.6rem;
  font-family: "BrownLight-300-normal", sans-serif;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  height: 2rem;
  line-height: 2rem;
  padding-bottom: 2.8rem;
}
.main-logo-contact-phone:hover {
  font-size: 1.7rem;
  text-decoration: none;
  color: #808080;
}
.main-logo-contact-mail {
  font-size: 1.6rem;
  font-family: "BrownLight-300-normal", sans-serif;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  height: 2rem;
  line-height: 2rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
}
.main-logo-contact-mail:hover {
  color: #808080;
  font-size: 1.7rem;
  text-decoration: none;
}
.main-buttons-href {
  height: auto;
}
.main-buttons-href button {
  outline: none;
  height: 2rem;
  width: 2rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border: none;
  padding: 1rem;
}
.in {
  background: url(../img/in.png) no-repeat center;
  background-size: auto;
}
.f {
  background: url(../img/facebook.png) no-repeat center;
  background-size: auto;
}
.t {
  background: url(../img/twitter.png) no-repeat center;
  background-size: auto;
}
.g {
  background: url(../img/github.png) no-repeat center;
  background-size: auto;
}
.main-href-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 26rem;
  padding-left: 5rem;
  padding-bottom: 5rem;
}
.main-href-info ul li {
  height: 3.2rem;
  line-height: 3.2rem;
  padding-bottom: 3rem;
}
.main-href-info ul li a {
  height: 3rem;
  line-height: 3;
  font-size: 1.6rem;
  font-family: "BrownLight-300-normal", sans-serif;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.main-href-info ul li a:hover {
  font-size: 1.7rem;
  color: #808080;
  text-decoration: none;
}
/* ---------------------------------------- modal-popup-sign in ---------------------------------------- */
/* ---------------------------------------- модальное окно входа ---------------------------------------- */
.container-block-modal-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-sing-in {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.popup-dialog-sign-in {
  position: fixed;
  text-align: center;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  background-color: #eaeafc;
  height: 60rem;
  width: 50rem;
  border: 1px solid #845cff;
  border-radius: 1rem;
  z-index: 999;
}
.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem;
}
.popup-content h1 {
  padding-top: 5rem;
  font-size: 4.8rem;
  color: #32325d;
  font-family: "BrownLight-300-normal", sans-serif;
  padding-bottom: 5rem;
}
.popup-content label {
  color: #32325d;
  font-size: 1.6rem;
  font-family: "Brown-bold-normal", sans-serif;
  padding-bottom: 0.5rem;
}
.popup-content a {
  text-decoration: none;
  color: #32325d;
  font-size: 1.6rem;
  font-family: "Brown-bold-normal", sans-serif;
  padding-bottom: 5rem;
}
.popup-content a:hover {
  color: #56569f;
  font-size: 1.6rem;
}
.popup-content input {
  padding: 1rem;
  margin-bottom: 4rem;
  height: 4rem;
  width: 100%;
  border-radius: 0.8rem;
  border: 1px solid #845cff;
  outline: none;
  font-size: 1.6rem;
  font-family: "BrownLight-300-normal", sans-serif;
}
.popup-content input:hover {
  border: 2px solid #845cff;
  outline: none;
}
.popup-content input:focus {
  border: 2px solid #845cff;
  outline: none;
}
.popup-close {
  position: absolute;
  text-align: center;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #845cff;
  font-size: 3rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.popup-close:hover {
  outline: none;
  border: none;
  color: #23008f;
}
/* ---------------------------------------- modal-popup-sign in ---------------------------------------- */
/* ---------------------------------------- модальное окно входа ---------------------------------------- */
.popup-get-started {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.popup-dialog-get-started {
  position: fixed;
  text-align: center;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  background-color: #eaeafc;
  height: 80rem;
  width: 50rem;
  border: 1px solid #845cff;
  border-radius: 1rem;
  z-index: 999;
}
/* ---------------------------------------- modal-popup-thank ---------------------------------------- */
/* ---------------------------------------- модальное окно благодарности ---------------------------------------- */
.popup-thank {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.popup-dialog-thank {
  position: fixed;
  text-align: center;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  background-color: #eaeafc;
  height: 25rem;
  width: 40rem;
  border: 1px solid #845cff;
  border-radius: 1rem;
  z-index: 999;
}
/* ---------------------------------------- modal-popup-thank ---------------------------------------- */
/* ---------------------------------------- модальное окно благодарности ---------------------------------------- */
.loading-loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.popup-dialog-loading {
  position: fixed;
  text-align: center;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  background-color: #eaeafc;
  height: 25rem;
  width: 40rem;
  border: 1px solid #845cff;
  border-radius: 1rem;
  z-index: 999;
}
/* ---------------------------------------- next-prev ---------------------------------------- */
/* ---------------------------------------- вперед-назад ---------------------------------------- */
.prev {
  position: absolute;
  z-index: 999;
  width: 2rem;
  height: 2.5rem;
  border: none;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/left-arrow.png);
  background-position: center;
  background-size: 100%;
  outline: none;
}
.prev:hover {
  background: url(../img/left-arrow-hover.png);
  background-position: center;
  background-size: 100%;
  outline: none;
}
.prev:focus {
  background: url(../img/left-arrow-hover.png);
  background-position: center;
  background-size: 100%;
  outline: none;
}
.next {
  position: absolute;
  z-index: 999;
  width: 2rem;
  height: 2.5rem;
  border: none;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/right-arrow.png);
  background-position: center;
  background-size: 100%;
  outline: none;
}
.next:hover {
  background: url(../img/right-arrow-hover.png);
  background-position: center;
  background-size: 100%;
  outline: none;
}
.next:focus {
  background: url(../img/right-arrow-hover.png);
  background-position: center;
  background-size: 100%;
  outline: none;
}
/* ---------------------------------------- @media ---------------------------------------- */
/* ---------------------------------------- @media ---------------------------------------- */
@media screen and (max-width: 1600px) {
  .container-block-1-img-absolute {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -5;
    width: 57%;
  }
  .container-block-2-img-absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -6;
    width: 60%;
  }
  .container-block-3-img-absolute {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -6;
    max-width: 35%;
  }
  .container-block-5-img-absolute {
    position: absolute;
    right: 0;
    top: 480%;
    z-index: -5;
    width: 45%;
  }
  .container-block-6-img-absolute {
    position: absolute;
    right: 0;
    top: 460%;
    z-index: -6;
    width: 45%;
  }
}
@media screen and (max-width: 1280px) {
  .container-block-3-img-absolute {
    position: absolute;
    left: 0;
    top: 75%;
    z-index: -6;
    max-width: 35%;
  }
  .container-block-5-img-absolute {
    position: absolute;
    right: 0;
    top: 490%;
    z-index: -5;
    width: 45%;
  }
  .container-block-6-img-absolute {
    position: absolute;
    right: 0;
    top: 470%;
    z-index: -6;
    width: 45%;
  }
  .container {
    height: 100%;
    width: 100rem;
    z-index: 0;
  }
  .header-img-logo {
    width: 40%;
  }
  .stability-application {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stability-application-info {
    width: 50rem;
    margin-right: 1rem;
  }
  .stability-application-info h2 {
    padding-top: 15rem;
  }
  .stability-application-content {
    margin-right: 2rem;
    width: 45rem;
  }
  .top-priority-box {
    width: 50rem;
  }
  .img-intro-1 {
    display: inline-block;
    width: 45%;
    height: 45%;
  }
  .img-intro-2 {
    display: inline-block;
    width: 45%;
    height: 45%;
  }
  .li-block-2 {
    width: 60%;
  }
  .li-block-3 {
    width: 40%;
  }
  .contact-input-wrap-block input {
    width: 32rem;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    height: 100%;
    width: 95rem;
    z-index: 0;
  }
  .header-img-logo {
    width: 35%;
  }
  .info {
    width: 68rem;
  }
  .stability-application-info {
    width: 100%;
    padding-bottom: 8rem;
  }
  .container-block-5-img-absolute {
    position: absolute;
    right: 0;
    top: 520%;
    z-index: -5;
    width: 45%;
  }
  .container-block-6-img-absolute {
    position: absolute;
    right: 0;
    top: 500%;
    z-index: -6;
    width: 45%;
  }
  .contact-input-wrap-block input {
    width: 27rem;
  }
}
@media screen and (max-width: 970px) {
  .container {
    height: 100%;
    width: 90rem;
    z-index: 0;
  }
  .container-block-5-img-absolute {
    position: absolute;
    right: 0;
    top: 560%;
    z-index: -5;
    width: 45%;
  }
  .container-block-6-img-absolute {
    position: absolute;
    right: 0;
    top: 540%;
    z-index: -6;
    width: 45%;
  }
  .stability-application-content {
    margin-left: 10rem;
    width: 60rem;
  }
  .img-intro-1 {
    display: none;
  }
  .img-intro-2 {
    display: none;
  }
  .top-priority-box {
    width: 100%;
  }
  .top-priority-box-drive {
    width: auto;
  }
  .top-priority-box-ride {
    width: auto;
  }
  .top-priority-1 {
    padding-top: 10rem;
  }
  .top-priority-2 {
    padding-top: 10rem;
  }
  .auto-pilot {
    margin-top: 15rem;
  }
  .li-block-1 {
    padding-left: 5rem;
    width: 100%;
  }
  .li-block-2 {
    padding-left: 5rem;
    width: 100%;
  }
  .li-block-3 {
    padding-left: 5rem;
    width: 100%;
  }
  .li-info {
    padding-top: 7rem;
  }
  .contact-info {
    margin-top: -4rem;
    width: 100%;
    height: auto;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-input {
    width: 100%;
  }
  .contact-info p {
    padding-bottom: 3rem;
  }
  .contact-input-wrap-block input {
    width: 70rem;
  }
  .main-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-logo-contact {
    width: 40rem;
  }
  .main-href-info {
    width: 40rem;
  }
  .main-logo-contact {
    padding-left: 5rem;
  }
}
@media screen and (max-width: 900px) {
  .container {
    height: 100%;
    width: 77rem;
    z-index: 0;
  }
  .header-img-logo {
    width: auto;
  }
  .contact-input-wrap-block input {
    width: 59rem;
  }
  .container-block-5-img-absolute {
    position: absolute;
    right: 0;
    top: 570%;
    z-index: -5;
    width: 45%;
  }
  .container-block-6-img-absolute {
    position: absolute;
    right: 0;
    top: 550%;
    z-index: -6;
    width: 45%;
  }
  .main-logo-contact {
    width: 35rem;
    padding-left: 5rem;
  }
  .main-href-info {
    width: 35rem;
  }
}
@media screen and (max-width: 770px) {
  .container {
    height: 100%;
    width: 69rem;
    z-index: 0;
  }
  .header-button-href {
    margin-left: 2.2rem;
    margin-right: 2.2rem;
  }
  .stability-application-content {
    margin-left: 5rem;
    width: 60rem;
  }
  .container-block-5-img-absolute {
    position: absolute;
    right: 0;
    top: 590%;
    z-index: -5;
    width: 45%;
  }
  .container-block-6-img-absolute {
    position: absolute;
    right: 0;
    top: 570%;
    z-index: -6;
    width: 45%;
  }
  .contact-input-wrap-block input {
    width: 50rem;
  }
  .li-info {
    padding-bottom: 7rem;
  }
  .main-logo-contact {
    width: 30rem;
    padding-left: 5rem;
  }
  .main-href-info {
    width: 30rem;
  }
}
@media screen and (max-width: 720px) {
  .container {
    height: 100%;
    width: 55rem;
    z-index: 0;
  }
  .header-button-href {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .header-img-logo {
    display: none;
  }
  .header-navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .stability-application-content {
    margin-left: 2rem;
  }
  .info-content h1 {
    font-size: 4rem;
  }
  .stability-application-info h2 {
    font-size: 4rem;
  }
  .info-icon-header h3 {
    font-size: 4rem;
  }
  .top-priority-box h3 {
    font-size: 4rem;
  }
  .auto-pilot h2 {
    font-size: 4rem;
  }
  .contact-info h2 {
    font-size: 4rem;
  }
  .contact-input-wrap-block input {
    width: 30rem;
  }
  .info {
    width: 100%;
  }
  .stability-application-content {
    width: 45rem;
  }
  .container-block-5-img-absolute {
    position: absolute;
    right: 0;
    top: 590%;
    z-index: -5;
    width: 35%;
  }
  .container-block-6-img-absolute {
    position: absolute;
    right: 0;
    top: 570%;
    z-index: -6;
    width: 35%;
  }
}
@media screen and (max-width: 560px) {
  .container {
    height: 100%;
    width: 48rem;
    z-index: 0;
  }
  .container-block-1-img-absolute {
    display: none;
  }
  .header-button-href {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .main-block {
    padding-bottom: 10rem;
  }
  .auto-pilot {
    width: 100%;
  }
}
